/* EXO 1 */
#mon-titre{
    color: blue;
    text-align: center;
    font-weight: bold;
    margin: 0; /* EXO 2*/
}

.mon-header{
  background-color: #696969;  
  padding: 2em;
}

/* EXO 2 */
body{
    margin: 0;
}

.ma-liste{
    list-style-type: none;
}

.mes-items{
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
}

a{
    text-decoration: none;
    color: inherit;
}

/* exo 3 */
.mon-btn{
    border-radius: 25px;
    background-color: rgb(194, 250, 194);
    padding: 2em;
}   

.mon-btn:hover{
    background-color: #696969;
    color: white;
    cursor: pointer;
}


/* exo 4 */

.section-articles{
    margin: 1.5em;
}

article{
    border: black 2px dashed;
    margin: 1em;
    padding: 1em;
}

.auteur{
    font-style: italic;
    font-size: small;
}

h1, h2, h3{
    font-family: "ROBOTO", Helvetica, sans-serif;
}

@font-face {
    font-family: "ROBOTO";
    src: url("../assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf");
}


/* exo 5 */
.flex-div-parent{
    width: 50em;
    height: 20em;
    background-color: blue;

    /* FLEX */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-div1,
.flex-div2,
.flex-div3{
    width: 10em;
    height: 10em;
    background-color: green;
}

.flex-div1{
    display: flex;
    align-items: flex-end;
}


.flex-div2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-div3{
    display: flex;
    justify-content: end;
}



.colPerso1{
    background-color: red;
}

.colPerso2{
    background-color: green;
}


.colPerso3{
    background-color: blue;
}
