/* exo 1 */
#mon-titre{
    color: blue;
    text-align: center;
    font-weight: bold;
    /* exo 2 */
    margin: 0;
}

.mon-header{
    background-color: #898989;
    /* exo 2 */
    padding: 2em;
}

/* exo 2 */
body{
    margin: 0;
}

.ma-liste{
    list-style-type: none;
}

.mes-items{
    display: inline;

    margin-left: 1.5em;
    margin-right: 1.5em;
    /* margin: 5em 1.5em 5em 1.5em; */
}

.mes-liens{
    text-decoration: none;
    color: inherit;
}

/* EXO 3 */

.mon-trop-bo-btn{
    border-radius: 2em;
    background-color: rgb(155, 255, 155);
    padding: 1.5em
}


.mon-trop-bo-btn:hover{
    background-color: #353535;
    color: white;
}




/* EXO 4 */
.mes-articles{
    margin: 2em;
    border: 2px dashed grey;
    padding: 1em;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-Black.ttf");
}

.titre-article{
    font-family: "Roboto", Helvetica, sans-serif;
}

.auteur{
    font-style: italic;
    font-size: 0.6em;
}



/* exo 5 - FLEX */
.flex-div-parent{
    width: 50em;
    height: 20em;
    background-color: blue;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.flex-div1,
.flex-div2,
.flex-div3{
    width: 10em;
    height: 10em;
    background-color: green;
}

.flex-div1{
    display: flex;
    align-items: flex-end;
}

.flex-div2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-div3{
    display: flex;
    align-items: flex-start;
    justify-content: end;
}


/* EXO BOOTSTRAP */

.une-classe-perso{
    color: red;
    background-color: grey;
}


.col-perso-1{
    background-color: green;
}

.col-perso-2{
    background-color: blue;
}